<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControll</servlet-name>
        <servlet-class>controller.HomeControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControll</servlet-name>
        <servlet-class>controller.LogoutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedDetailControll</servlet-name>
        <servlet-class>controller.MedDetailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControll</servlet-name>
        <servlet-class>controller.ProfileControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControll</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControll</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedDetailControll</servlet-name>
        <url-pattern>/meddetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControll</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
