<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.LoginControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeControll</servlet-name>
        <servlet-class>controller.HomeControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControll</servlet-name>
        <servlet-class>controller.LogoutControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedDetailControll</servlet-name>
        <servlet-class>controller.MedDetailControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileControll</servlet-name>
        <servlet-class>controller.ProfileControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMedPageControll</servlet-name>
        <servlet-class>controller.ListMedPageControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileEditControll</servlet-name>
        <servlet-class>controller.ProfileEditControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineManageControll</servlet-name>
        <servlet-class>controller.MedicineManage.MedicineManageControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineDetailAdmin</servlet-name>
        <servlet-class>controller.MedicineManage.MedicineDetailAdminControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineEditControll</servlet-name>
        <servlet-class>controller.MedicineManage.MedicineEditControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributorManageControll</servlet-name>
        <servlet-class>controller.DistributorManage.DistributorManageControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistributorDetailAdminControll</servlet-name>
        <servlet-class>controller.DistributorManage.DistributorDetailAdminControll</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeControll</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControll</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedDetailControll</servlet-name>
        <url-pattern>/meddetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileControll</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMedPageControll</servlet-name>
        <url-pattern>/listmedpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileEditControll</servlet-name>
        <url-pattern>/profileedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineManageControll</servlet-name>
        <url-pattern>/medicinemanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineDetailAdmin</servlet-name>
        <url-pattern>/medicineDetailAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineEditControll</servlet-name>
        <url-pattern>/medicineedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorManageControll</servlet-name>
        <url-pattern>/distributormanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistributorDetailAdminControll</servlet-name>
        <url-pattern>/distributorDetailAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
